[profile.default]
solc = "0.8.24"
priority_fee = 1 # 1wei
ffi = false
fuzz_runs = 256
optimizer = true
optimizer_runs = 1500
verbosity = 3
src = "src"
test = "test"
out = "out"
allow_paths = [
  # pnpm symlinks to the project root's node_modules
  "../../node_modules",
  # template uses linked mud packages from within the mud monorepo
  "../../../../packages",
  # projects created from this template and using linked mud packages
  "../../../mud/packages",
]
extra_output_files = ["abi", "evm.bytecode"]
fs_permissions = [{ access = "read", path = "./" }]

[profile.garnet]
eth_rpc_url = "https://rpc.garnetchain.com"

[profile.redstone]
eth_rpc_url = "https://rpc.redstonechain.com"

[profile.base-sepolia]
eth_rpc_url = "https://sepolia.base.org"

[profile.base]
eth_rpc_url = "https://mainnet.base.org"

[fmt]
line_length = 120
tab_width = 2
bracket_spacing = true
ignore = ["lib/*"]
